<div id="tool-default" class="lti-search">
  <header class="fixed clearfix">
    &nbsp;
  </header>
</div>
<div class="below-search-bar">
  <h4>Sorry, Something went wrong</h4>
  {{message}}
  <pre>{{stack}}</pre>
</div>
